/* Assignment 2 CSS */

/* set max width for container */
@media only screen and (min-width: 960px) {
#container {
	width: 960px;
    }
}
#container {
	margin: 0 auto 24px auto;
	background: #fff;
}

.current{
	display:block;
	border-color: blue;
}

body{
	background:#0000C8;
}
/* hide elements  */
.hide, .field2, .field3, .field4{
	display: none;
}
h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-size:3em
}
.logo {
	 height: 204px;
	 width: 204px;
	 margin: 10px 0 0 0;
 }
 
/* button style */
.next{
	float:right;
	background-color: #0000C8;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
	border-radius: 4px;
}

.next2{
	float:right;
	background-color: #0000C8;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
    border-radius: 4px;
}
.previous{
	float:left;
	background-color: #0000C8;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
	border-radius: 4px;
}

.bucket{	
	width: auto;
	float: left;
	margin: 1em 0 0 5em;
	font-size:larger;
}
.float_right{
	/* float:right; */
	width:100%;
	padding: 0.5em 2em;
    border-radius: 4px;
}
select, textarea {
    width: 100%;
    border-radius: 4px;
}

.btnContainer{
	clear:both;
}
/* progress */
.progress{
	text-align:center;
}


.comments{
	margin: 0 20% 0 0;
	text-align:center;
}


.invalid{
	border: 2px solid red;
	box-shadow: 0px 0px 5px #cc0000;
}
